ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.btn {
	border-radius: 0px;
	height: 50px;
}
.btn-default {
    background-color:#CCC;
    border-radius: 0px;
    border: none;
		height: 50px;
}

.btn-default:hover {
        background-color:#5BB1CA;
}

.btn-search {
    height:30px;   
    background-color: #5BB1CA;
    border-radius:0px;
    border:0px;
}

a:hover {
    color:#000;
    text-decoration:none;
}

img {
    width: 100%;
    height:auto;
}

.box-for-info {
    background-color: #EEE;
		padding: 4px;
}

.box-for-info-wrapper {
		width: 100%;
		padding: 4px;
}

.box-for-info-wrapper.highlight {
		background-color: #C0DD6B;
}

.results-pin {
    width: 30px;
    height: auto;
}

.floating-left {
	margin: 0px 0px 0px 0px;
}

.floating-left-location {
    float: left;
    padding: 5px 0px 0px 450px;
}

.dropdown {
	border-radius: 0px;
	height: 50px;
}

.scroll-area {
	width: 100%;
	max-height: 600px;
	overflow-y: scroll;
	padding: 0px 0px 50px 0px;
}

.sebm-google-map-container {
    height: 74vh;
    width: auto;
}

services-multiselect, location-picker btn .btn-default {
	display: inline-block;
   
  }

.bar-left-side {
	width: 100%;
	height: 50px;
	background-color: #CCC;
	padding: 0px;
    text-align: right;
}
