input {
    text-align: center;
    border-width: 3px;
    border:solid #CCC;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    font-size: 18px;
}

label {
    font-weight: 500;
    margin: 0px 10px 0px 20px;
}