<template [ngIf]="organization">
	<img src="/assets/images/CAC.jpg" style="width:100%; height:auto;" alt="doctor hands typing">
	<div class="container-fluid">
		<div class="row">
			<!--********************* START 4 COL// SIDE INFORMATION *********************-->
			<div class="col-md-4">
				<!--*****************************Database stuff to input information??*****************************-->
				<div class="information">
					<p style="text-align: center">{{logoURL}}</p>
					<h4>Address</h4>
					<p>{{organization.address_list[0].addressLine1}}<br>{{organization.address_list[0].locality}}, {{organization.address_list[0].region}} {{organization.address_list[0].postcode}}</p>
					<h4>Phone</h4>
					<p>(608) 246-41730 ({{organization.phone_list[0].phoneName}})<br>{{organization.phone_list[0].phoneNumber}} (Toll Free)<br>(608)246-4760 (Fax)</p>
					<h4>Hours</h4>
					<p>Monday: {{organization.hours_list[4].openTime}} - {{organization.hours_list[4].closeTime}} <br>Tuesday: {{organization.hours_list[3].openTime}} - {{organization.hours_list[3].closeTime}}<br>Wednesday: {{organization.hours_list[1].openTime}} - {{organization.hours_list[1].closeTime}}<br>Thursday: {{organization.hours_list[0].openTime}} - {{organization.hours_list[0].closeTime}}<br>Friday: {{organization.hours_list[2].openTime}} - {{organization.hours_list[2].closeTime}}<br>Saturday: Closed<br>Sunday: Closed</p>
					<h4>Email</h4>
					<p><a href="mailto:{{organization.email_list[0].emailAddress}}">{{organization.email_list[0].emailAddress}}</a></p>
					<h4>Website</h4>
					<p><a href={{organization.websiteURL}} target="_blank">{{organization.websiteURL}}</a></p>
				</div>

			</div>
			<!--*****************************END DB INFO??*****************************-->
			<!--*****************************END 4COL *****************************-->

			<div class="col-md-8">
				<!--*****************************COVER PHOTO*****************************-->
				<!--*****************************END COVER PHOTO*****************************-->

				<!--*****************************ORGANIZATION INFORMATION******************************-->
				<h3>{{organization.name}}</h3>
				<p>{{organization.description}}</p>
				<!--*****************************END OF ORGANIZATION INFORMATION*****************************-->

				<!--*****************************SERVICES START*****************************-->
				<div class="services">
					<h3>Services | <a routerLink="/">Return to Search</a></h3>
					<!--*****************************COLLAPSIBLE SERVICES START************************-->
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default" *ngFor="let organizationService of organization.organizationService_list; let i=index">
							<div class="panel-heading" role="tab" id="heading{{i}}">
								<h4 class="panel-title">
									<a class="collapsed" role="button" [ngClass]="i === 0 ? '' : 'collapsed'" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" aria-expanded="false">
										<p  [ngClass]="{'available': organizationService.isAvailable, 'not-available': !organizationService.isAvailable}">{{organizationService.service.description}}</p>
									</a>
								</h4>
							</div>
							<div id="collapse{{i}}" class="panel-collapse collapse" role="tabpanel">
								<div class="panel-body">
									Payment Type: {{organizationService.paymentType}}<br>
									Restriction Notes <br>
									Contact information: <br>
									{{organizationService.phone_list[0].phoneName}} : {{organizationService.phone_list[0].phoneNumber}} {{organizationService.phone_list[0].description}} <br>
									Hours:<br>
									<p *ngFor="let hoursList of organization.hours_list">
										{{hoursList.dayOfWeek}}: {{hoursList.openTime}} - {{hoursList.closeTime}}
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!--*****************************COLLAPSIBLE SERVICES END************************-->

			</div>
		</div>
	</div>
</template>
