/* You can add global styles to this file, and also import other style files */

/*************************LINKS*************************/
a {
	color:#59B0C8;
	text-decoration:none;
}

a:hover {
	color:#C0DA6E;
	text-decoration:underline;
}

a:active {
	text-decoration:none;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}
/*************************END OF LINKS*************************/

/*************************BUTTONS*************************/
.btn-default {
	background-color:#5BB1CA;
	border-radius: 3px;
	border: none;
	height: 40px;
	font-size: 25px;
	color: #FFF;
}
.btn-default:hover {
	background-color:#C0DA6E;
	border-radius: 3px;
	border: none;
	height: 40px;
	color: #FFF;
}
.btn-default>a{
	color: #FFF;
	text-decoration: none;
}
.btn-default.disabled>a{
	color: #FFF;
}

.btn-default.disabled {
    color: #FFF;
    background-color: #828081;
    border-color: #828081;
	height:40px;
}


.btn-default.disabled:hover {
    background-color: #828081;
	height: 40px;
}
/*************************END OF BUTTONS*************************/

/*************************TEXT ELEMENTS*************************/
body {
	font-size: 1.0rem;
	
}
h1{
	font-size: 2.4rem;
	color: #5BB1CA

}
h2{
	font-size: 2.2rem;
	color: #5BB1CA
}
h3{
	font-size: 2rem;
	color: #C0DA6E;
	
}
h4{
	font-size: 1.8rem;
}
h5{
	font-size: 1.6rem;
}
h6{
	font-size: 1.4rem;
	font-weight: 600;
}
p{
	font-size: 1.6rem;
	padding-left: 10px;
}
/*************************END OF TEXT ELEMENTS************************/

/*************************FORM ELEMENTS*************************/
input {
    text-align: center;
    border-width: 3px;
    border:solid #CCC;
    border-radius: 5px;
    height: 40px;
    min-width: 250px;
    font-size: 1.8rem;
}
input[type="checkbox"] {
	margin:5px;
}

.radio-buttons {
	text-align:center;
	padding:30px;
}
/*************************END OF FORM ELEMENTS************************/
.bottominfo {
	text-align:center;
	padding:10px;
}

.heroimg {
	width:100%;
	height:auto;
	padding:0px 0px 30px 0px;
}

.container-fluid {
	padding:0px;
}




.form-control {
	margin:20px;
	width:20vw;
}


.text-warn {
	color:#D0BA2B;
}
